---
import Layout from "../layouts/Layout.astro";
import { Button } from "@radix-ui/themes";
---

<Layout>
  <main style="padding: 2rem;">
    <h1>Clean Slate Achieved</h1>
    <Button client:load>Radix is Working</Button>
  </main>
</Layout>
